<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6  ml-n2 p-5 bg-secondary">
      <h4>Создадим бизнес сайт для привлечения клиентов</h4>

<p>Сайт создается с целью привлечения в ваш бизнес новых клиентов и повышения вашего дохода. Нами будут решены следующие задачи:
</p>
<ol>
    <li>Солидный дизайн сайта, внушающий доверие.</li>
    <li>Выделим преимущества перед конкурентами.</li>
    <li>Обеспечим дружелюбность поисковых систем.</li>
  </ol>
    
    
    <p>Наш опыт позволяет спроектировать качественный интерфейс, вывести в топ поиска нужные запросы, обратить на себя внимание целевой аудитории. Ежегодно мы актуализируем свои знания. Даем гарантию качественного результата.
</p>

    </div>
    <div class="d-flex col-xs-12 col-md-6 align-items-center ml-1 p-5 bg-secondary">

      <div class="d-flex flex-column  text-center">

     <h4 class="m-2"> Хотите узнать какова цена создания сайта? Поможем рассчитать стоимость бесплатно! </h4>
<p class="m-2">Свяжитесь с нами удобным способом, <br> чтобы узнать стоимость работ!</p>
<span class=" col-11 ml-4"><button type="button" class="btn btn-primary m-2  btn-rounded ">связаться</button></span>

</div>
  </div>
</div>
</div>