<div class="d-flex justify-content-center"><h2>Ответственное выполнение проекта</h2></div>
<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m- py-4 ">
                    <div class="b2">

   <div class="d-flex col-11 m-0 py-4 justify-content-center  align-items-center shadow-sm   ">
    <div class="row">
<img src="img/Без имени-1.two2.png" class="mr-3 mt-2" style="height: 60px">
      <p class="mt-4  align-content-start" style="font-size: 12px;"> Метод scrum разработки <br> 
Выполним необходимые работы и доработки.</p>
</div>
</div>
</div>

</div>
        
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m- py-4 ">
                    <div class="b2">

   <div class="d-flex col-11 m-0 py-4 justify-content-center  align-items-center shadow-sm   ">
    <div class="row">
<img src="img/Без имени-1.two2.png" class="mr-3 mt-2" style="height: 60px">
      <p class="mt-4  align-content-start" style="font-size: 12px;"> Метод scrum разработки <br> 
Выполним необходимые работы и доработки.</p>
</div>
</div>
</div>

</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m- py-4 ">
                    <div class="b2">

   <div class="d-flex col-11 m-0 py-4 justify-content-center  align-items-center shadow-sm   ">
    <div class="row">
<img src="img/Без имени-1.two2.png" class="mr-3 mt-2" style="height: 60px">
      <p class="mt-4  align-content-start" style="font-size: 12px;"> Метод scrum разработки <br> 
Выполним необходимые работы и доработки.</p>
</div>
</div>
</div>

</div>

  </div>
</div>