<div class="d-flex justify-content-center"><h2>Наши основные услуги</h2></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-0 p-0 ">
      <div class="b1 ">
      <div class="d-flex flex-column shadow-sm p-3 mb-5 bg-white rounded  "> 
<div class="d-flex flex-row mt-2">
 <span class="one mt-2 ml-4"></span>
<span class=" col-11">  Корпоративный <br>  
от 35000 руб.

</span> 
</div>

       
<span class="m-2 col-11">  Разработаем корпоративный сайт 10-30 стр., который привлечет клиентов в ваш бизнес.</span>
              <span class=" col-11"><button type="button" class="btn btn-primary m-2  btn-rounded ">подробнее</button></span>

 </div> 
 </div>
    </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-0 p-0 ">
      <div class="b1 ">
      <div class="d-flex flex-column shadow-sm p-3 mb-5 bg-white rounded  "> 
<div class="d-flex flex-row mt-2">
 <span class="one mt-2 ml-4"></span>
<span class=" col-11">  Корпоративный <br>  
от 35000 руб.

</span> 
</div>

       
<span class="m-2 col-11">  Разработаем корпоративный сайт 10-30 стр., который привлечет клиентов в ваш бизнес.</span>
              <span class=" col-11"><button type="button" class="btn btn-primary m-2  btn-rounded ">подробнее</button></span>

 </div> 
 </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-0 p-0 ">
      <div class="b1 ">
      <div class="d-flex flex-column shadow-sm p-3 mb-5 bg-white rounded  "> 
<div class="d-flex flex-row mt-2">
 <span class="one mt-2 ml-4"></span>
<span class=" col-11">  Корпоративный <br>  
от 35000 руб.

</span> 
</div>

       
<span class="m-2 col-11">  Разработаем корпоративный сайт 10-30 стр., который привлечет клиентов в ваш бизнес.</span>
              <span class=" col-11"><button type="button" class="btn btn-primary m-2  btn-rounded ">подробнее</button></span>

 </div> 
 </div>
    </div>
  </div>
</div>