<div class="container-fluid ">
    <div class="row sticky-top">
        <div class="col-3 d-none d-lg-block">
            <div class="d-flex justify-content-start align-items-center ">

                <div class="row">
                    <div class="m-2 h-30">
                        <img src="img/headleft.png" alt="">
                    </div>
                    <div>
                        <h5 class="m-0">нужен сайт</h5>
                        сайты для бизнеса
                    </div>
                </div>
            </div>

        </div>
        <!--  <nav class="navbar navbar-expand-lg  navbar-light bg-light col-lg-6 col-sm-12">

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse  justify-content-center col-12" id="navbarNavDropdown">
         <ul class="navbar-nav">

           <li class="nav-item active">
             <a class="nav-link m-1" href="#"><h6>Разработка</h6></a>
           </li>

           <li class="nav-item">
             <a class="nav-link m-1" href="#"><h6>Ведение сайта</h6></a>
           </li>

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle m-1" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h6>Портфолио</h6></a>
             <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink2">
               <div class="container up2">
                 <div class="row">
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>

                 </div>
               </div>
             </div>
           </li>

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle m-1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h6>Блог</h6></a>
             <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
               <div class="container up1">
                 <div class="row">
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>
                   <div class="col-4">
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                     <a class="dropdown-item" href="#">Три один</a>
                     <a class="dropdown-item" href="#">Три два</a>
                     <a class="dropdown-item" href="#">Три три</a>
                   </div>
                 </div>
               </div>
             </div>
           </li>
     <li class="nav-item">
             <a class="nav-link m-1" href="#"><h6>О нас</h6></a>
           </li>
         </ul>

       </div>

     </nav> -->

        <nav class="navbar navbar-expand-sm bg-light justify-content-center col-6 col-lg-6">

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">12354</span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Разработка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ведение сайта</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Портфолио
                        </a>
                        <div class="dropdown-menu up">
                            <ul class="nav flex-column">
                                <li class="nav-item"><a href="ganrrrбоевик" class="1" v-on:click="makeActive('1')">кейсы
                                    SEO продвижения</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Блог
                        </a>
                        <div class="dropdown-menu up">
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            О нас
                        </a>
                        <div class="dropdown-menu up">
                            <ul class="nav flex-column">
                                <li class="nav-item"><a href="ganrrrбоевик" class="1" v-on:click="makeActive('1')">боевик</a>
                                </li>
                                <!-- <li class="nav-item"><a href="ganrrr" class="2" v-on:click="makeActive('2')">аниме</a></li> -->
                                <li class="nav-item"><a href="ganrrrбиография" class="3" v-on:click="makeActive('3')">биографический</a>
                                </li>
                                <!-- <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">военный</a></li> -->
                                <li class="nav-item"><a href="ganrrrдетектив" class="4" v-on:click="makeActive('5')">детектив</a>
                                </li>
                                <li class="nav-item"><a href="ganrrrДокументальные" class="4"
                                                        v-on:click="makeActive('4')">документальный</a></li>
                                <li class="nav-item"><a href="ganrrrдрама" class="4"
                                                        v-on:click="makeActive('4')">драма</a></li>
                                <li class="nav-item"><a href="ganrrrИсторические" class="4"
                                                        v-on:click="makeActive('4')">исторический</a></li>
                                <li class="nav-item"><a href="ganrrrкомедия" class="4" v-on:click="makeActive('4')">комедия</a>
                                </li>
                                <li class="nav-item"><a href="ganrrrкриминал" class="4" v-on:click="makeActive('4')">криминал</a>
                                </li>
                                <li class="nav-item"><a href="ganrrrмелодрама" class="4" v-on:click="makeActive('4')">мелодрама</a>
                                </li>
                                <li class="nav-item"><a href="ganrrrфантастика" class="4" v-on:click="makeActive('4')">фантастика</a>
                                </li>
                                <li class="nav-item"><a href="ganrrrфэнтузи" class="4" v-on:click="makeActive('4')">фэнтези</a>
                                </li>
                                <!--  <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">научный</a></li> -->
                                <li class="nav-item"><a href="ganrrrприключения" class="4" v-on:click="makeActive('4')">приключения</a>
                                </li>
                                <!-- <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">семейный</a></li>
                                  <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">спорт</a></li> -->
                                <li class="nav-item"><a href="ganrrrтриллер" class="4" v-on:click="makeActive('4')">триллер</a>
                                </li>
                                <!--  <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">ужасы</a></li>
                                 <li class="nav-item"><a href="ganrrr" class="4" v-on:click="makeActive('4')">фантастика</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>


        <div class="d-none d-lg-block col-3">
            <div class="d-flex align-items-center   ">
                <div class="col-4">
                    <h6>8(927)815074</h6>
                    <h6>wiskasnia@mail.ru</h6>

                </div>
                <div class="col-8 ml-5">
                    <div>
                        <a href="#" target="_blank"><img class="imging" src="img/telegramm.png" alt=""></a>

                        <a href="#" target="_blank"><img class="imging" src="img/viber.png" alt=""></a>
                        <a href="#" target="_blank"><img class="imging" src="img/whatsapp.png" alt=""></a>
                    </div>
                    <h6>с 8 до 18.00мск</h6>
                </div>
            </div>
        </div>
    </div>
</div>