<!--<nav class="navbar  fixed-top">-->
<div class="container-fluid ">
    <div class="row fixed-top navbar-light bg-light">
        <div class="col-3 d-none d-lg-block">
            <div class="d-flex justify-content-start align-items-center ">

                <div class="row">
                    <div class="m-2 h-30">
                        <img src="img/headleft.png" alt="">
                    </div>
                    <div>
                        <h5 class="m-0">нужен сайт</h5>
                        сайты для бизнеса
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 d-none d-lg-block">
            <ul class="nav justify-content-center" id="menu2">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><h5>Разработка</h5></a>

                    <div class="dropdown-menu">
                        <div class="container-fluid" id="upmenu22">
                            <div class="row">
                                <div class="col-6"><a class="dropdown-item" href="landing-page-pod-kljuch.html">Поисковое продвижение</a>
                                    <a class="dropdown-item" href="#"> Анализ конкурентов</a>
                                    <a class="dropdown-item" href="#">Внутренняя оптимизация</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Продвижение в ТОП</a>
                                    <a class="dropdown-item" href="#">Продвижение по трафику</a>
                                    <a class="dropdown-item" href="#">Семантическое ядро</a>
                                    <a class="dropdown-item" href="#">Контекстная реклама</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Настройка Google Adwords</a>
                                    <a class="dropdown-item" href="#">Настройка Яндекс Директ</a>
                                </div>
                                <div class="col-6"><a class="dropdown-item" href="#">Аудит</a>
                                    <a class="dropdown-item" href="#">SEO аудит сайта</a>
                                    <a class="dropdown-item" href="#">Комплексный аудит</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Технический аудит</a>
                                    <a class="dropdown-item" href="#">Юзабилити аудит</a>
                                    <a class="dropdown-item" href="#">Написание текстов</a>
                                    <a class="dropdown-item" href="#">Seo копирайтинг</a>
                                    <a class="dropdown-item" href="#">Рерайт текста</a>
                                    <a class="dropdown-item" href="#">ТЗ на тексты</a>

                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Отдельная ссылка</a></div>
                            </div>

                        </div>
                    </div>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><h5>Ведение сайта</h5></a>

                    <div class="dropdown-menu">
                        <div class="container-fluid" id="upmenu21">
                            <div class="row">
                                <div class="col-6">
                                    <a class="dropdown-item" href="#/nuzhen-sajt/sozdanie-sajta.html">Поисковое продвижение</a>
                                    <a class="dropdown-item" href="#"> Анализ конкурентов</a>
                                    <a class="dropdown-item" href="#">Внутренняя оптимизация</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Продвижение в ТОП</a>
                                    <a class="dropdown-item" href="#">Продвижение по трафику</a>
                                    <a class="dropdown-item" href="#">Семантическое ядро</a>
                                    <a class="dropdown-item" href="#">Контекстная реклама</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Настройка Google Adwords</a>
                                    <a class="dropdown-item" href="#">Настройка Яндекс Директ</a>
                                </div>
                                <div class="col-6"><a class="dropdown-item" href="#">Аудит</a>
                                    <a class="dropdown-item" href="#">SEO аудит сайта</a>
                                    <a class="dropdown-item" href="#">Комплексный аудит</a>
                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Технический аудит</a>
                                    <a class="dropdown-item" href="#">Юзабилити аудит</a>
                                    <a class="dropdown-item" href="#">Написание текстов</a>
                                    <a class="dropdown-item" href="#">Seo копирайтинг</a>
                                    <a class="dropdown-item" href="#">Рерайт текста</a>
                                    <a class="dropdown-item" href="#">ТЗ на тексты</a>

                                    <!--                                    <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" href="#">Отдельная ссылка</a></div>
                            </div>

                        </div>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h5>Портфолио</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"><h5>Блог</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"><h5>О нас</h5></a>
                </li>
            </ul>
        </div>


        <div class="d-none d-lg-block col-3">
            <div class="d-flex align-items-center   ">
                <div class="col-4">
                    <h6>8(927)815074</h6>
                    <h6>wiskasnia@mail.ru</h6>

                </div>
                <div class="col-8 ml-5">
                    <div>
                        <a href="#" target="_blank"><img class="imging" src="img/telegramm.png" alt=""></a>

                        <a href="#" target="_blank"><img class="imging" src="img/viber.png" alt=""></a>
                        <a href="#" target="_blank"><img class="imging" src="img/whatsapp.png" alt=""></a>
                    </div>
                    <h6>с 8 до 18.00мск</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</nav>-->