


footer{
  background-color: black;
  color: white;
  span{
    font-size: 30px;
    color: blue;
    margin: 10px;
  };
  ul{
    li{
      margin: 0px;
      padding: 0px;
      font-size: 10px;
    }
  }
};

.getaquaite{
    background-color: #5a6268;



}