


footer{
  background-color: black;
  color: white;
  span{
    font-size: 30px;
    color: blue;
    margin: 10px;
  };
  ul{
    li{
      margin: 0px;
      padding: 0px;
      font-size: 10px;
    }
  }
};



.service{

    .inner_blok{
      width: 40px;
      height: 10px;
      border-bottom: 4px solid white;
    }


}
.inner_blok2{
  width: 40px;
  height: 10px;
  border-bottom: 4px solid blue;
}

.inner_blok3{
  width: 40px;
  height: 10px;
  border-bottom: 4px solid white;
}

footer {
  .blok2{
    ul{
      li{
        list-style-type: none; /* Убираем маркеры */

      }
    }

  }
  .nav {
    ul {
      li{
        height: 25px;
      }
      li::before {
        content: url(../img/stre3.png);
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;

      }

    }
  }

}

.blok4{
  border:  dashed green;
  border-width: 4px 0px;
}

.menu1{
  .dropdown-menu{
    width: 400px!important;
  }
}
.owl-prev{
  position: absolute;
  left:-50px;
  background:none!important;
}
.owl-next {
  position: absolute;
  right: -50px;
  background:none!important;
}
.owl-nav{
position: relative;
bottom: 150px;
}


.fffff{
  background-color: white;
}

.block-red{
  display: none;
}

.block-pict:hover .block-red{
  display: block;
}


//item1::before{
//  content: url("../img/whychoose/pict1.png");
//  background-color: blue;
//  margin: 10px;
//}